{% extends "index.html" %}
{% block body %}
    <form class="layui-form" method="post">
        {{ userForm.csrf_token }}
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                {#                                <input type="text" name="title" required lay-verify="required" placeholder="请输入用户名" autocomplete="off"#}
                {#                                       class="layui-input">#}
                {{ userForm.account( class="layui-input",placeholder="请输入账号") }}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-inline">
                {{ userForm.password( class="layui-input",placeholder="请输入密码") }}

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                {{ userForm.password1( class="layui-input",placeholder="请输入新密码") }}
            </div>
            <div class="layui-form-mid layui-word-aux">大于6个字符</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-inline">
                {{ userForm.contact( class="layui-input",placeholder="请输入联系方式") }}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-form-radio">
                {{ userForm.sex(class="layui-input-block") }}

            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-block">
                {{ userForm.departmentSelect(class="layui-input-block") }}
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                {#                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>#}
                {{ userForm.inPut(class="layui-btn") }}
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script src="/static/layui/layui.js"></script>
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            form.render();
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));

                return false;
            });

        });
        var data1 = form.val("formDemo");
        print(data1)
    </script>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
{% endblock %}
