{% extends "index.html" %}
{% block body %}
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>会议id</th>
            <th>会议名</th>
            <th>会议室名</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in result %}

            <tr>
                {% for foo in item %}
                    <td>{{ foo }}</td>
                {% endfor %}
            </tr>


        {% endfor %}
        </tbody>
    </table>
     {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
{% endblock %}